html, body {
  margin: 0;
  padding: 0;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

.fatal-error {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  border: none;
  z-index: 99999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fatal-error > span {
  display: block;
  background-color: red;
  color: white;
  text-align: center;
  width: 100%;
  padding: 52px;
  font-weight: bold;
}

.fatal-error > button {
  position: relative;
  top: -48px;
  padding: 8px;
}

.mdc-toolbar a, .mdc-toolbar a:visited {
  text-decoration: none;
  color: #f0f0f0;
}

.mm-main {
  padding: 16px 28px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 599px) {
  .mm-main {
    padding: 16px;
  }
}

.mm-menu-button {
  margin-right: 24px;
}

.mm-card {
  background-color: white;
}
